<div class="table-container">
  <mat-toolbar color="primary">
    <span>Lista de contatos</span>
  </mat-toolbar>

  <table mat-table [dataSource]="contatos" class="mat-elevation-z8">
    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef>
        <mat-icon>person</mat-icon>
      </th>
      <td mat-cell *matCellDef="let contato">{{ contato.nome }}</td>
    </ng-container>

    <ng-container matColumnDef="telefone">
      <th mat-header-cell *matHeaderCellDef>
        <mat-icon>phone </mat-icon>
      </th>
      <td mat-cell *matCellDef="let contato">{{ contato.telefone }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>
        <mat-icon>email</mat-icon>
      </th>
      <td mat-cell *matCellDef="let contato">{{ contato.email }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['nome', 'email', 'telefone']"></tr>

    <tr
      mat-row
      *matRowDef="let row; columns: ['nome', 'email', 'telefone']"
    ></tr>
  </table>
</div>
