.table-container {
  margin: 0 auto; /* Centraliza a tabela horizontalmente */
  max-width: 800px; /* Define a largura máxima da tabela */
  padding-top: 20px; /* Adiciona espaço na parte superior da tabela */
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza horizontalmente */
}
.mat-toolbar {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente o conteúdo */
  align-items: center; /* Centraliza verticalmente o conteúdo */
}
.mat-icon {
  display: block;
  margin: 0 auto; /* Centraliza o ícone horizontalmente */
}

.mat-cell,
.mat-header-cell {
  display: flex;
  align-items: center; /* Centraliza verticalmente */
  justify-content: center; /* Centraliza horizontalmente */
  text-align: center; /* Centraliza texto horizontalmente */
}
